.nav{
    margin-left: 10%;
    border: 1px solid green;
    padding: 5px 20px 5px 10px;
    text-align: center;
}

.title{
    font-family: cursive;
    text-decoration: none;
}
#main-title{
    font-family: cursive;
    text-decoration: none;
    color: black
}


.navButton{
    margin-right: 50%;
}

.contactInfo{
    text-decoration: none;
    color: black;

}

#yelp-logo {
    margin-left: 5px;
    height: 25px;
    width: 25px;
}

#main-logo{
    height: 100px;
    width: 100px;
    margin-left: 65%;
    display: inline-flex;
    float: right;
    position: absolute;
    text-decoration: none;
}

#button-nav{
    display: inline-flex;
    font-family: "Roboto";
}

#storeHours{
    text-align: center;
    margin-right: 20%;
}

#homePic{
    height: 350px;
    width: 500px;
    margin-top: 5%;
}

#shopping-cart-icon{
    color: black;
}